body {
   font-family: "Playfair Display", serif;
}

.text-photo {
   font-family: "Ubuntu", sans-serif;
   color: #c7c1b6;
}

.headtex {
   color: #03a9f4;
}

.photo {
   width: 420px;
   height: 280px;
}

.title-article {
   color: #626262;
}
